h2, h3, p {
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em 3em;
    font-size: 25px;
    padding:50px, 20px;
}


body {
    background-color: rgba(144, 192, 207, 0.7);


        /* The image used */
        background-image: url("https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg");
  
        /* Full height */
        height: 100%; 
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
      }

.learning {
    color: whitesmoke
}
table{
    margin: 1em auto;
    text-align: center;
}

html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #food, #cat , #hiking{
        opacity: 0.5;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 200px;
  }
  #tableTitle {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.7em;
    margin-bottom: 10px;
    text-align: center;
  }
  #schedule {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-size: 15px;
    color: white;
  }
  #survey {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-size: 15px;
    color: white;
  }
  input[type="button"] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
